.navbar-wrapper {
	background-color: white;
}

.navbar-fixed-top {
	background-color: $prim;
	/*border-radius: 10px 10px 0px 0px;*/
}

.icon-bar {
	background-color: gray;
}

.navbar-brand {
	color: gray;
}

.navbarButton a {
	color: gray;
}