.text-center {
	max-width: 50%;
}
.profile-picture {
	display: block;
	margin: auto;
}

.profile-picture-edit {
	margin-top: 5px;
}
.profile-picture-container {
	background-image: url('./images/Yggdrasil.jpg');
}

.profile-bio {
	width: 95%;
}