<header ng-include="'partials/Navbar.html'"></header>

<div>
	<div class="card">
		<div class="card-image">
			<img ng-src="{{content.image}}"></a>
		</div>
		<div class="card-content">Title: {{content.title}}<br>Description: {{content.description}}</div>
		<button ng-click="createBranch(content.id)">Create Branch</button>
		<button ng-if="showDelBtn(content.uid)" ng-click="deleteContent(content.id)">Delete Content</button>
	</div>
</div>
<br>
<div ng-repeat="branch in branches">
	<div class="branch-card">
		<div class="branch-card-image">
			<a ng-click="getBranch(branch.id)"><img ng-src="{{branch.image}}"></a>
		</div>
		<div class="branch-card-content">Title: {{branch.title}}<br>Description: {{branch.description}}</div>
	</div>
</div>
