<header ng-include src="'partials/Navbar.html'"></header>

<div class="search-filter"><input id="filter" type="filter" placeholder="Filter" ng-model="searchText"><div>

<div class="card-holder" ng-repeat="content in contents | filter:searchText">
	<div class="card">
		<div class="card-image">
			<a ng-click="getContent(content.id)"><img ng-src="{{content.image}}"></a>
		</div>
		<aside class="card-title-description">
			<label>Title: </label>
			<h4>{{content.title}}</h4>
			<label>Description: </label>
			<p>{{content.description}}</p>
		</aside>
	</div>
</div>