<header ng-include src="'partials/Navbar.html'"></header>

<div>
	<form>
		<label for="registerUsername">Username</label>
		<input id="registerUsername" type="text" class="input" ng-model="obj.username">
		<label for="registerEmail">E-mail</label>
		<input id="email" type="email"  class="input" ng-model="obj.email">
		<label for="email">Password</label>
		<input id="loginPassword" type="password"  class="input" ng-model="registerPassword">
		<button ng-click="register()">Register</button>
	</form>
</div>
