<div class="container">
	<form>
	<div class="form-group">
		<label for="registerUsername">Username</label>
		<input id="registerUsername" type="text" class="form-control" ng-model="obj.username">
	</div>
	<div class="form-group">
		<label for="registerEmail">E-mail</label>
		<input id="email" type="email"  class="form-control" ng-model="obj.email">
	</div>
	<div class="form-group">
		<label for="email">Password</label>
		<input id="loginPassword" type="password"  class="form-control" ng-model="registerPassword">
	</div>
		<button class="mybutton" ng-click="register()">Register</button>
	</form>
</div>
